.git
.github
docs
helm
tests
typings
legacy
*.md
!README.md
justfile
.gitignore
.gitmodules
.dockerignore
.venv
.env
.env.*
backups

# Node artifacts
**/node_modules

# Python artifacts
**/__pycache__
**/*.pyc
**/*.pyo
**/.venv
**/venv
**/.tox
**/*.egg-info
**/dist
**/build
