.git
.github
docs
helm
*.md
justfile
LICENSE
.gitignore
.gitmodules
.dockerignore
# Node artifacts
**/node_modules

# Python artifacts
**/__pycache__
**/*.pyc
**/*.pyo
**/.venv
**/venv
**/.tox
**/*.egg-info
**/dist
**/build
