.bak
*.egg-info
*.pyc
*.env
env/
build/
ddl/build/
dist/
ui/coverage/
ui/node_modules/
ui/src/css/fonts/
ui/yarn-error.log
vendor
__pycache__
ddl.sql
imbi/static/imbi.css
imbi/static/fonts/
imbi/static/js/
