__pycache__
.bak
*.egg-info
*.pyc
*.env
env/
build/
ddl/build/
dist/
ddl.sql
imbi/static/
imbi/static/fonts/
imbi/static/*.js
imbi/templates/openapi.yaml
openapi/node_modules/
ui/coverage/
ui/node_modules/
ui/yarn-error.log
vendor
