html {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  button.btn:focus,button.btn:active {
    outline: none !important;
    box-shadow: none;
  }

  div#app {
    flex: 1 0 auto;
    margin-bottom: -2.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    span.fas, span.fab, span.far {
      &.right {
        margin-left: .5em;
        margin-right: 0;
      }
    }

    header {
      flex: 0 0 auto;
      height: 56px;
      margin: 0;
      padding: 0;
    }
    div.main {
      align-items: stretch;
      display: flex;
      flex: 1 0 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      div.view-panel {
        display: block;
        flex: 1 1 auto;
        margin-left: auto;
        padding: 1em 1em 2em 1em;
        div.topbar {
          margin-bottom: .5em;
        }

        .panel-border {
          border-top: 1px solid #ccc;
          padding-top: 1em;
        }

        .form-input-control {
          margin-top: .5em;
        }

        dl {
          margin-bottom: 0;
          padding-bottom: 0;
          &.profile {
            margin: .5em 0 0 .5em;
          }
        }
        h1, h2, h3, h4, h5 {
          small {
            font-weight: 400;
            font-size: .85rem;
          }
        }
        ul.nav {
          &.nav-tabs {
            max-width: $wizard-form-width;
          }
        }
        div.tab-content {
          div.tab-pane {
            padding: 1em;
            min-height: $wizard-form-min-height;
            max-width: $wizard-form-width;
          }
        }
        div.tab-footer {
          max-width: $wizard-form-width;
        }
      }
    }
    z-index: 50;
  }

  footer {
    align-content: center;
    background: #fff;
    color: black;
    border-top: 1px solid $gray-400;
    flex: 0 0 auto;
    height: 2.5em;
    padding: .5em 1em;
    text-align: left;
    z-index: 100;
  }
}
