body {
  &.logged-out {
    background: $primary;
    div#app {
      header {
        nav.navbar {
          border-bottom: 1px solid white;
        }
      }
      div.main {
        div.loading {
          align-content: center;
          color: white;
          display: flex;
          flex: 1 0 auto;
          flex-direction: column;
          justify-content: center;
          h1 {
            span.fas, span.fab, span.far {
              margin-right: .25em;
            }
            text-align: center;
          }
        }
      }
    }
  }
}
