$sidebarClosedWidth: 3.5em;
$sidebarOpenedWidth: 11em;

#sidebar {
  background-color: $gray-lighter;
  border-right: 1px solid $gray-light;
  padding: 1em .5em;
  min-width: $sidebarOpenedWidth !important;
  ul {
    button {
      &.btn.btn-link {
        color: $gray-dark;
        &:hover {
          background: $gray-lighter;
          color: $primary;
        }
      }
      &.btn.btn-opened {
        @extend .btn-link;
        background: $gray-light;
        color: black;
      }
      span.fas, span.fab, span.far {
        margin-right: .5em;
      }
      &:hover {
        color: $primary;
      }
      text-align: left;
      width: 100%;
    }
  }
  &.closed {
    min-width: $sidebarClosedWidth !important;
    ul {
      button {
        text-align: center;
        span.fas, span.fab, span.far {
          margin-right: 0;
        }
      }
    }
  }
  .toggle-sidebar {
    margin-top: 1em;
    button {
      color: $gray;
      text-align: center;
      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }
}
