// Custom Variables
$fa-font-path: '/static/fonts';

$gray-base: #546a78;
$gray-dark: #2a353c;
$gray-darker: #3f505a;
$gray: #546a78;
$gray-light: #dee2e6;
$gray-lighter: rgba(0, 0, 0, 0.05);

$primary: #2d79bb;
$success: #00b479;

$font-family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
  sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.75 !default;
$h3-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1.12 !default;
$h6-font-size: $font-size-base !default;

$breadcrumb-divider: quote('>');

$wizard-form-min-height: 31em;
$wizard-form-width: 100%;
