<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ handler.application.settings['service'].title() }} &mdash; {% block title %}Tile{% end %}</title>
    <link href="{{ static_url('css/imbi.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ static_url('imbi.ico') }}">
  </head>
  <body class="logged-out">
    <div id="app">
      <header>
        <nav class="navbar navbar-inverse navbar-expand-lg bg-primary fixed-top">
          <a class="navbar-brand text-white h1 mb-0" href="/">
            <i class="fab fa-earlybirds"></i> Imbi
          </a>
        </nav>
      </header>
      <div class="main">
        <div class="loading">
          <h1><span class="fas fa-spinner fa-spin"></span> Loading</h1>
        </div>
      </div>
    </div>
    <footer>
      Imbi v{{ handler.application.settings['version'] }} &mdash; <a href="/api-docs/">API Documentation</a>
    </footer>
    <script src="{{ static_url('js/imbi.js') }}"></script>
  </body>
</html>
