{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:jest/recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "strict": 0,
        "react-hooks/rules-of-hooks": "error",
        "react/display-name": 0
    },
    "plugins": ["react", "react-hooks"],
    "settings": {
        "react": {
            "createClass": "createReactClass",
            "pragma": "React",
            "version": "16.6"
        }
    },
    "overrides": [
        {
            "files": "tailwind.config.js",
            "env": {
                "node": true
            }
        }
    ]
}
